# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.ipynb_checkpoints

# --- Entornos Virtuales (Virtual Environments) ---
# Nombres comunes para carpetas de entorno
env/
venv/
.env
.venv/
qml-torch-env/

# --- VS Code ---
.vscode/
*.code-workspace

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- Datos (Opcional, descomenta si quieres ignorar datos pesados) ---
# data/
# *.csv
# *.h5
# *.pth

# --- Windows / Mac System Files ---
Thumbs.db
.DS_Store

__pycache__/
*.pyc
*.pyo

figures/

logs/
.txt
.csv
.xlsx

/models
.pkl

ODDIT/

mandar_gemini/

reduce_dataset_cobyla/


reduce_dataset/


dataset/


experiment_definitions/

reduce_dataset_test_with_train/
